package views

import "go/app/views/components"
import "go/app/views/layout"

templ Main() {
	<main>
	@layout.Header() {
		@components.Title("Найди работу своей мечты")
        @components.SubTitle("Простой поиск работы")
	}
	Main
	</main>
}